//@import "../static/fonts/Font-Awesome/css/font-awesome.min.css";

//@import "font-awesome";
//@import "../static/fonts/Font-Awesome/scss/font-awesome.scss";

$logo-background-color:												rgb(235, 235, 235);
$shadow-color:																rgb(211, 211, 211);
$button-shadow-color:													rgb(206, 206, 206);
$box-cras-back-color:													rgb(226, 226, 226);
$page-content-background-color:								#EBEBEB;
$boxes-container-link-color:									rgb(144, 144, 144);
$active-boxes-container-link-color:						#ED3E43;
$border-radius:																5px;
$logo-font:																		SourceSansPro-Black;
$boxes-container-font:												SourceSansPro-Regular;
$head-info-font:															SourceSansPro-Bold;

$url-font-black:		'/fonts/font/SourceSansPro/Black/';
$url-font-regular:	'/fonts/font/SourceSansPro/Regular/';
$url-font-bold:			'/fonts/font/SourceSansPro/Bold/';

@font-face {
 font-family: SourceSansPro-Black;
 src: url($url-font-black + 'SourceSansPro-Black.eot');
 src: url($url-font-black + 'SourceSansPro-Black.woff') format('woff'), url($url-font-black + 'SourceSansPro-Black.ttf') format('truetype'), url($url-font-black + 'SourceSansPro-Black.svg') format('svg');
}

@font-face {
    font-family: SourceSansPro-Regular;
    src: url($url-font-regular + 'SourceSansPro-Regular.eot');
		src: url($url-font-regular + 'SourceSansPro-Regular.woff') format('woff'), url($url-font-regular + 'SourceSansPro-Regular.ttf') format('truetype'), url($url-font-regular + 'SourceSansPro-Regular.svg') format('svg');
}

@font-face {
    font-family: SourceSansPro-Bold;
		src: url($url-font-bold + 'SourceSansPro-Bold.eot');
		src: url($url-font-bold + 'SourceSansPro-Bold.woff') format('woff'), url($url-font-bold + 'SourceSansPro-Bold.ttf') format('truetype'), url($url-font-bold + 'SourceSansPro-Bold.svg') format('svg');
}

@font-face {
    font-family: FontAwesome;
		src: url('/fonts/font/Awesome/fontawesome-webfont.eot');
		src: url('/fonts/font/Awesome/fontawesome-webfont.woff') format('woff'), url('/fonts/font/Awesome/fontawesome-webfont.ttf') format('truetype'), url('/fonts/font/Awesome/fontawesome-webfont.svg') format('svg');
}


/*
@font-face {
	font-family: SourceSansPro;
	src: url("../fonts/font/SourceSansPro/Black/SourceSansPro-Black.ttf") format("truetype");
}

@font-face {
    font-family: SourceSansPro;
    src: url("../fonts/font/SourceSansPro/Regular/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: SourceSansPro;
    src: url("../fonts/font/SourceSansPro/Bold/SourceSansPro-Bold.ttf") format("truetype");
    font-weight: bold;
}
*/
/*
@font-face {
    font-family: SourceSansPro;
    src: url('fonts/source-sans-pro/SourceSansPro-Regular.otf');
}

@font-face {
    font-family: SourceSansPro;
    src: url('fonts/source-sans-pro/SourceSansPro-Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: SourceSansPro;
    src: url('fonts/source-sans-pro/SourceSansPro-Italic.otf');
    font-style: italic;
}
@font-face {
    font-family: SourceSansPro;
    src: url('fonts/source-sans-pro/SourceSansPro-BoldItalic.otf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: SourceSansPro;
    src: url('fonts/source-sans-pro/SourceSansPro-Light.otf');
    font-weight: 300;
}
@font-face {
    font-family: SourceSansPro;
    src: url('fonts/source-sans-pro/SourceSansPro-LightItalic.otf');
    font-style: italic;
    font-weight: 300;
}
*/
.icon-font-heigth:after {
	line-height: 67px;
}

.icon .fa {
	display:inline-block;
  vertical-align:middle;
	line-height: 56px;
}

body {
	font-family: SourceSansPro, sans-serif;
	padding-top: 50px;
	min-width: 500px;
	background-image: url("/content/bg-part.jpg");
	text-align: center;
}

footer {
	padding-bottom: 25px;
	color: #dfdfdf;
}

a {
	text-decoration: none;
	color: #373435;
}

.line {
	height: 1px;
	background-color: #D2D2D2;
	margin-bottom: 7px;
	margin-top: 7px;

	@media (max-width:500px) {
		visibility: collapse;
	}
}

.title {
	font-family:	$head-info-font;
	font-size: 32px;
	color: #373435;
	font-weight: 600;
	margin-bottom: 10px;
}

.subtitle {
	font-size: 18px;
  color: #676364;
	margin-bottom: 50px;
}

.subhead {
	font-family: sans-serif;
	font-weight: 600;
	font-size: 16px;
	text-align: left;
	text-transform: uppercase;
}

.regular-text {
	font-weight: 500;
	font-size: 14px;
	overflow: hidden;
	color: #676364;
	font-family: $boxes-container-font;
}

.box {
	width: 33%;
	float: left;

	@media (max-width:1100px) {
		width: 100%;
		float: none;
		margin-bottom: 30px;
	}
}

.current_active_boxes-container {
	color: red;
}

.lorem-ipsum {
	margin-top: 70;
}

.logo {
	font-size: 30px;
	line-height: 100px;
	font-weight: bold;
}

.logo-container {
	position: absolute;
	left: 50%;
	width: 260px;
	height: 105px;
	background-color: $logo-background-color;
	text-align: center;
	box-shadow: -9px 10px $shadow-color;
	border-radius: $border-radius;
	margin-top: -7px;
	margin-left: -100px;
	font-family: $logo-font;
}

.page-content {
	background-color: $page-content-background-color;
	border-radius: $border-radius;
	padding: 100px 30px 30px 30px;
	margin-top: 50px;
	max-width: 1024;
	margin: 35px auto;
}

.boxes-container {
	display: inline-block;
	margin-bottom: 0px;
}

.boxes-container-item {
	border: 1px solid #d2d2d2;
	border-width: 1px 0;
  padding: 10px 10px;
  margin-top: 5px;
	display: inline-block;
	margin-right: 40px;
}

.boxes-container-link {
	text-decoration: none;
	color: $boxes-container-link-color;
	font: $boxes-container-font;
}

.boxes-container-link-active {
	color: $active-boxes-container-link-color;
}

.banner img {
	border-radius: $border-radius;
	box-shadow: -9px 10px $shadow-color;
	width: 100%;
	margin-top: 40px;
}

.button-danger {
	padding: 10px;
	box-shadow: -9px 10px $button-shadow-color;
	background-color: rgb(237, 50, 55);
	color: white;
	border: none;
	border-radius: $border-radius;
	margin-left: 20px;
	margin-right: 20px;
	width: 130px;
	height: 40px;

	@media (max-width:500px) {
		///
	}
}

.line-separator{
	height: 1px;
	background: rgb(194, 194, 194);
	border-bottom: 1px solid rgb(235, 235, 235);
	margin-top: 7px;
}

.sections-separator {
	//margin-top: 20px;
	margin-bottom: 50px;
}

.row-element {
	display: inline-block;
	width: 40%;
}

.box-content {
	margin-left: 70px;
	margin-right: 39px;
	/*padding-right: 39px;*/
	padding-top: 0px;
	padding-bottom: 10px;
	img {
		width: 100%;
	}
}

.icon {
	height: 70px;
	width: 70px;
	background-color: #373435;
	float: left;
	font-size: 26px;
	text-align: center;
	line-height: 67px;
	color: #EBEBEB;
	border-radius: $border-radius;
	border-top-right-radius: 0px;
	box-shadow: -9px 10px $shadow-color;
	margin-right: 25px;
}

.more-info {
	max-width: 70%;
	overflow: hidden;
  text-overflow: ellipsis;
	max-height: 70px;
	line-height: 1;
	margin-left: 0px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.more-info-cras {
	margin-left: 20px;
	color: #373435;
}

.nunc-digniss {
	padding-bottom: 0px;
}

.standard-box-shadow {
	box-shadow: -9px 10px $shadow-color;
}

.standard-box-borders {
	border-radius: $border-radius;
	border-top-right-radius: 0px;
}

.products-name {
	color: #ed3237;
	font-weight: bold;
	font-size: 14px;
	margin-top: -20px;
}

.product-style {
	padding: 10px;
	box-shadow: -9px 10px $shadow-color;
}

.container {
	max-width: 350px;
	margin-left: 10px;
	margin-right: 10px;
}

.block-more {
	display: inline-block;
	margin-top: 10px;
}

.read-more-lower {
	padding-top: 50px;
}

.arrow-style {
	color: red !important;
	font-size: 18px !important;
	font-weight: 600 !important;
}

.read-more {
	margin-top: 50px;
	margin-bottom: 50px;
	/*line-height: 400px;*/
	padding: 10px;
}

.vivamus-vest  {
	margin-top: 50px;
}

.nunc-digniss-color-more {
	background-color: $box-cras-back-color;
}

.more-info {
	color: rgb(55, 52, 53);
	font-size: 16px;
	font-weight: 600;
}

.info {
	text-align: left;
	margin-top: 30px;
	margin-bottom: 30px;
	color: #373435;
}

.info-more {
	text-align: left;
	margin-top: 30px;
	//margin-bottom: 30px;
	margin-left: 20px;
	margin-right: 20px;
	min-height: 100px;
}

.button-wrapper {
	margin-top: -2px;
	margin-left: -75px;
	position: absolute;
	left: 50%;
	background-color: #EBEBEB;

	@media (max-width:500px) {
		position: inherit;
		margin-left: 0px;
	}
}

.box-content-more {
	margin-left: 70px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #e2e2e2;
	img {
		width: 100%;
	}
	@media (max-width:1100px) {
		margin-left: 0px;
	}
}

.more-info-wrapper {
	//margin-left: -135px;
	text-align: left;
}

.nunc-digniss-head-wrapper {
	margin-bottom: 30px;
}

.cras-iaculis {
	padding-bottom: 60px;
}

.cras-iaculis-head-wrapper {
	margin-bottom: 30px;
}

.container-products {
	box-shadow: -5px 5px $shadow-color;
	font-family: sans-serif;
	border: 1px solid #bfbfbf;
	border-radius: $border-radius;
	font-weight: 600;
	text-transform: uppercase;
}

.block-head {
	text-align: left;
	margin-left: 20px;
}

.head-info {
	margin-left: 25px;
}
